/* Page Styles Start */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
/* Hero Styles Start */
.hero {
    height: 100vh;
    width: 100%;
    background-image: url(../images/hero.jpg);
    background-size: cover;
    background-position: center;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
.logo {
    color: rgb(255, 255, 255);
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
span {
    color: rgb(61, 130, 175);
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 20px;
}
nav ul li a:hover {
    color: rgb(61, 130, 175);
    transition: .4s;
}
.content {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
}
h1 {
    color: white;
    margin: 20px 0px 20px;
    font-size: 40px;
}
h4 {
    color: rgb(61, 130, 175);
    letter-spacing: 2px;
    font-size: 25px;
}
/* About Styles Start */
.about {
    height: 500px;
    width: 100%;
    padding: 100px;
    background-color: black;
    border-bottom: 5px solid rgb(61, 130, 175);
    border-top: 5px solid rgb(61, 130, 175);
}
.about-text {
    margin: 30px;
}
.about-text h2 {
    color: rgb(61, 130, 175);
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
    text-align: center;
}
.about-text p {
    color: white;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
    text-align: center;
}
/* Work Section Start */
.work {
    background: black;
    width: 100%;
    padding: 100px 0px;
    border-bottom: 5px solid rgb(61, 130, 175);
}
img {
    width: 100px;
    height: 100px;
}
h2.title  {
    color: rgb(61, 130, 175);
    font-size: 75px;
    margin: 30px auto;
    text-align: center;
}
.card-container-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-container-row {
    display: flex;
    flex-direction: row;
    align-content: center;
}
.card {
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: white;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
    border: 5px solid rgb(61, 130, 175);
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.card.card-big {
    height: 365px;
    width: 700px;
}
h5 {
    color: rgb(61, 130, 175);
    font-size: 30px;
    text-align: center;
    margin-bottom: 25px;
}
.project p {
    color: black;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
    font-weight: bold;
}
/* Contact Me Styles Start */
#contact {
    background: black;
    width: 100%;
    padding: 100px;
}
#contact h2 {
    color: rgb(61, 130, 175);
    font-size: 75px;
    text-align: center;
    margin-bottom: 25px;
}
#contact p {
    color: white;
    text-align: center;
}
.contact-link-container {
    display: flex;
    justify-content: center;
}
.contact-img {
    margin: 55px;
}
.contact-img img {
    height: 50px;
    width: 50px;
}
/* Footer Styles Start */
.footer {
    background: black;
    width: 100%;
    padding: 5px;
    border-bottom: 5px solid rgb(61, 130, 175);
}
.footer h2 {
    color: rgb(61, 130, 175);
    font-size: 15px;
    text-align: center;
}
.footer p {
    color: rgb(61, 130, 175);
    font-size: 15px;
    text-align: center;
}